<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="../../assets/img/pngwing.com.png"
      width="50"
      height="50"
      class="d-inline-block"
      alt=""
    />
    NotificationApp
  </a>
</nav>

<ul class="list-group">
  <li class="list-group-item">
    <div class="titulo">Ifood</div>
    <div class="subtitulo">Seu pedido chegou</div>
    <div class="data">Agora</div>
  </li>
  <li class="list-group-item">
    <div class="titulo">Nubank</div>
    <div class="subtitulo">Sua fatura está fechada</div>
    <div class="data">15 minutros atrás</div>
  </li>
  <li class="list-group-item">
    <div class="titulo">Shopee</div>
    <div class="subtitulo">Confira as novas promoções</div>
    <div class="data">2h atrás</div>
  </li>
</ul>

<footer class="footer">
  <div class="copyright">&COPY; 2022 NotificationApp</div>
  <p>Todos os direitos reservados</p>
</footer>
